.container {
  padding: 10px;
}

.container h1 {
  font-size: 25px;
  font-weight: normal;
}

.container h2 {
  margin-top: 16px;
  font-size: 18px;
  font-weight: normal;
}

.container p {
  margin-top: 16px;
  font-weight: normal;
}
