@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table,
dl,
dd {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: top;
  border: none;
}
body {
  margin: 20px;
  padding: 20px;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  background-color: #f1f1f1;
  color: #555;
}
.title {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 300;
  color: #555;
}
.container {
  margin-top: 50px;
}
.ball {
  position: absolute;
  left: 0;
  top: 200px;
  width: 50px;
  height: 50px;
  background-color: #8ac007;
  border-radius: 25px;
}
